* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

html {
  height: 100%;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 2em;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font: 14px "ZCOOL KuaiLe", cursive;
  background: center linear-gradient(to bottom, #360096, #4e0096);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

p {
  margin: 0 0 2em;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2.5em;
  margin: 0 0 0.75em;
  text-align: center;
  text-transform: uppercase;
}

container {
  width: 100%;
  backdrop-filter: blur(10px);
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: auto;
  padding: 1.5em;
  max-width: 40em;
  border-radius: 1em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6), 2px 2px 0 rgba(0, 0, 0, 0.6),
    3px 3px 0 rgba(0, 0, 0, 0.6), 4px 4px 0 rgba(0, 0, 0, 0.6),
    5px 5px 0 rgba(0, 0, 0, 0.6), 6px 6px 0 rgba(0, 0, 0, 0.6);
  background: url("../img/miaw.gif")
    bottom right no-repeat rgba(0, 0, 0, 0.6);
  background-size: 80%;
}

.btn {
  width: 9em;
  color: #ffffff;
  cursor: none;
  display: block;
  padding: 0.75em;
  border-radius: 1em;
  text-align: center;
  background: rgba(120, 129, 147, 0.3);
  box-shadow: 0 0 10px 0px #333;
  backdrop-filter: blur(10px);
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-bottom: 0.75em;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
